:root {
  --ColorP: #176298;
  --ColorS: #ccf0ff;
  --TextoN: #0000;
  --TextoB: white;
}

/* Body */
body {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  padding-left: 80px; /* Ajustado al tamaño de la barra lateral */
  margin: 0;
  transition: padding-left 0.3s ease;
}

/* Barra Lateral */
.sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--ColorP);
  color: white;
  padding-top: 20px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001;
}

.sidebar.expanded {
  width: 250px;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--TextoB);
  padding: 10px;
  text-decoration: none;
  background: transparent;
}

.sidebar .nav-link i {
  font-size: 20px;
}

.sidebar.collapsed .nav-link i {
  font-size: 25px;
}

.sidebar.collapsed .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar .toggle-btn {
  position: absolute;
  top: 10px;
  right: -40px;
  background: var(--ColorP);
  color: var(--TextoB);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-bottom {
  margin-top: auto;
}

.sidebar-text {
  transition: opacity 0.3s ease;
}

.collapsed .sidebar-text {
  opacity: 0;
}

.sidebar.expanded .sidebar-text {
  opacity: 1;
}

/* Barra de menú superior */
.menu-bar {
  position: fixed;
  top: 0;
  left: 80px; /* Espacio para la barra lateral */
  right: 0;
  height: 60px;
  background: var(--ColorS);
  color: var(--ColorP);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;
  transition: left 0.3s ease;
}

.sidebar.expanded ~ .menu-bar {
  left: 250px; /* Se ajusta con la barra lateral expandida */
}

.menu-bar nav {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  gap: 1rem;
}

.menu-bar nav a {
  text-decoration: none;
  color: var(--ColorP);
  font-weight: bold;
}

/* Desplazamiento del contenido */
.content {
  flex: 1;
  margin-top: 60px; 
  transition: margin-left 0.3s ease;
  padding: 1rem;
}

.sidebar.expanded ~ .content {
  margin-left: 250px;
}

.sidebar.collapsed ~ .content {
  margin-left: 80px;
}
